.periperi2{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    gap:10px;
    border-radius: 10px;
    background-color: #EEE;
    height: 1200px;
}

.box{
    margin-top: 20px;
    text-align: left;
    
}
.box p{
    font-size: 14px;
    margin:10px 0px 0px;
    font-family: Helvetica;
    font-weight:400
}
.box2{
    font-size: 16px;
    font-family: Helvetica;
    font-weight: bold;
}
.box  button {
    text-align: center;
    background-color: #DC143C;
    color: #eee;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    border:none;
    font-size: 18px;
    font-family:  Helvetica;
}